
.container {
    max-width: 120rem;
    margin: 6rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    @include respond(tab-land) {
        margin: 0 auto;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    display: flex;
    
}

.sidebar {
    flex: 0 0 20%;
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include respond(tab-port-small) {
        flex: 0 0 28%;   
    }

    @include respond(phone) {
        flex: 0 0 5%;   
    }
}



.hotel-view {
    background-color: #fff;
    flex: 1;

}

.details {
    display: flex;
    gap: var(--flex-gap_medium);
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.3rem;

    @include respond(tab-port) {
        flex-direction: column;
        padding: 8rem;
        font-size: 1.5rem;
    }

    @include respond(tab-port-small) {
        padding: 4rem;    
    }

}

.section {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    // align-self: flex-start;

    &__header{
        font-size: 1.5rem;
    }

    &__ul {
        margin: 1rem;
    }

}

.additional-info {
    
    display: flex;
    flex-direction: column;
    flex: 0 0 30rem;
    gap: var(--flex-gap_medium);

    @include respond(tab-land) {
        // flex: 0 1 auto;
    }

    @include respond(tab-port) { // width < 900?
        flex-direction: row;
        // flex: 1 1 50%;
    }

    @include respond(phone) { // width < 900?
        flex-direction: column;
        // flex: 1 1 50%;
    }

    &__details {
        

        @include respond(tab-port) { // width < 900?
            width: 50%;
            flex-direction: row;
            
        }

        @include respond(phone) { // width < 900?
            width: 100%;
        }

        

        &-1 {
            
            @include respond(tab-port) { // width < 900?
                align-self: flex-start;
            }
            
        }
    }

}


.hidden {
    display: none;
}